body {
  font-weight: 100;
}

.container {
  margin: 0 auto;
  width: 720px;
<<<<<<< HEAD
  font-family: 'Open Sans', sans-serif;
}

header ul
{
list-style:none;
margin: 0;
padding:0;
text-align: center;
}

header a
{
display:block;
width:100px;
}

header li
{
display:inline-block;
}

header{
  border-bottom: 1px dotted grey;
  padding: 10px;
}

footer{
  border-top: 1px dotted grey;
  padding: 10px;
}

h1{
  text-align: center;
=======
	font-family: 'Open Sans', sans-serif;
>>>>>>> bc19bfe752e19fc7c17da7ddfc9168339a021716
}